@model Gym.Models.ViewModels.StoreCheckboxListItem

<!DOCTYPE html>
<!--顯示館別的區塊-->
<div class="checkbox-inline">
    @Html.HiddenFor(x=>x.No)
    @Html.HiddenFor(x=>x.DisplayText)
    @Html.CheckBoxFor(x=>x.IsChecked, new { @checked = true })
    @Html.LabelFor(x=>x.IsChecked,Model.DisplayText)
</div>
@*<br />*@
